<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.ClientBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.ClientBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="client_id" jdbcType="BIGINT" property="id" />
    <result column="client_internal_id" jdbcType="VARCHAR" property="internalId" />
    <result column="client_name" jdbcType="VARCHAR" property="name" />
    <result column="client_type" jdbcType="VARCHAR" property="type" />
    <result column="client_cit_id" jdbcType="BIGINT" property="citId" />
    <result column="client_sector" jdbcType="VARCHAR" property="sector" />
    <result column="client_tele_phone" jdbcType="VARCHAR" property="telePhone" />
    <result column="client_address" jdbcType="VARCHAR" property="address" />
    <result column="client_phone" jdbcType="VARCHAR" property="phone" />
    <result column="client_longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="client_latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="client_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="client_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="client_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>