<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.AtmBaseMaintainBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.AtmBaseMaintainBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="maintain_id" jdbcType="BIGINT" property="id" />
    <result column="maintain_base_id" jdbcType="BIGINT" property="baseId" />
    <result column="maintain_atm_terminal_id" jdbcType="VARCHAR" property="atmTerminalId" />
    <result column="maintain_atm_terminal_type" jdbcType="VARCHAR" property="atmTerminalType" />
    <result column="maintain_error_type" jdbcType="VARCHAR" property="errorType" />
    <result column="maintain_error_time" jdbcType="TIMESTAMP" property="errorTime" />
    <result column="maintain_error_fixed_time" jdbcType="TIMESTAMP" property="errorFixedTime" />
    <result column="maintain_operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="maintain_result" jdbcType="VARCHAR" property="result" />
    <result column="maintain_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="maintain_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="maintain_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>