<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.AtmSyncLogBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.AtmSyncLogBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sync_id" jdbcType="BIGINT" property="id" />
    <result column="sync_atm_terminal_id" jdbcType="VARCHAR" property="atmTerminalId" />
    <result column="sync_type" jdbcType="VARCHAR" property="type" />
    <result column="sync_last_time" jdbcType="VARCHAR" property="lastTime" />
    <result column="sync_last_primary_key" jdbcType="VARCHAR" property="lastPrimaryKey" />
    <result column="sync_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="sync_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="sync_update_timestamp" jdbcType="TIMESTAMP" property="updateTimestamp" />
    <result column="sync_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>