<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.BankAtmBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.BankAtmBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="atm_id" jdbcType="BIGINT" property="id" />
    <result column="atm_client_id" jdbcType="BIGINT" property="clientId" />
    <result column="atm_client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="atm_branch_id" jdbcType="BIGINT" property="branchId" />
    <result column="atm_branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="atm_ip" jdbcType="VARCHAR" property="ip" />
    <result column="atm_model" jdbcType="VARCHAR" property="model" />
    <result column="atm_vendor" jdbcType="VARCHAR" property="vendor" />
    <result column="atm_address" jdbcType="VARCHAR" property="address" />
    <result column="atm_task_id" jdbcType="BIGINT" property="taskId" />
    <result column="atm_type" jdbcType="VARCHAR" property="type" />
    <result column="atm_latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="atm_longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="atm_internal_id" jdbcType="VARCHAR" property="internalId" />
    <result column="atm_external_id" jdbcType="VARCHAR" property="externalId" />
    <result column="atm_ram_status" jdbcType="CHAR" property="ramStatus" />
    <result column="atm_ram_max" jdbcType="DECIMAL" property="ramMax" />
    <result column="atm_ram_current" jdbcType="DECIMAL" property="ramCurrent" />
    <result column="atm_cpu_status" jdbcType="CHAR" property="cpuStatus" />
    <result column="atm_cpu_max" jdbcType="DECIMAL" property="cpuMax" />
    <result column="atm_cpu_current" jdbcType="DECIMAL" property="cpuCurrent" />
    <result column="atm_disk_status" jdbcType="CHAR" property="diskStatus" />
    <result column="atm_disk_max" jdbcType="DECIMAL" property="diskMax" />
    <result column="atm_disk_current" jdbcType="DECIMAL" property="diskCurrent" />
    <result column="atm_safe_door_status" jdbcType="CHAR" property="safeDoorStatus" />
    <result column="atm_safe_door_error_code" jdbcType="CHAR" property="safeDoorErrorCode" />
    <result column="atm_safe_door_description" jdbcType="CHAR" property="safeDoorDescription" />
    <result column="atm_ups_status" jdbcType="CHAR" property="upsStatus" />
    <result column="atm_card_status" jdbcType="CHAR" property="cardStatus" />
    <result column="atm_iccard_status" jdbcType="CHAR" property="iccardStatus" />
    <result column="atm_edoor_status" jdbcType="CHAR" property="edoorStatus" />
    <result column="atm_envelope_status" jdbcType="CHAR" property="envelopeStatus" />
    <result column="atm_journal_status" jdbcType="CHAR" property="journalStatus" />
    <result column="atm_invoice_status" jdbcType="CHAR" property="invoiceStatus" />
    <result column="atm_left_deposit_status" jdbcType="CHAR" property="leftDepositStatus" />
    <result column="atm_deposit_status" jdbcType="CHAR" property="depositStatus" />
    <result column="atm_receipt_printer_status" jdbcType="CHAR" property="receiptPrinterStatus" />
    <result column="atm_receipt_printer_error_code" jdbcType="CHAR" property="receiptPrinterErrorCode" />
    <result column="atm_receipt_printer_description" jdbcType="CHAR" property="receiptPrinterDescription" />
    <result column="atm_cash_acceptance_status" jdbcType="CHAR" property="cashAcceptanceStatus" />
    <result column="atm_cash_acceptance_error_code" jdbcType="CHAR" property="cashAcceptanceErrorCode" />
    <result column="atm_cash_acceptance_description" jdbcType="CHAR" property="cashAcceptanceDescription" />
    <result column="atm_cash_dispenser_status" jdbcType="CHAR" property="cashDispenserStatus" />
    <result column="atm_cash_dispenser_error_code" jdbcType="CHAR" property="cashDispenserErrorCode" />
    <result column="atm_cash_dispenser_description" jdbcType="CHAR" property="cashDispenserDescription" />
    <result column="atm_money_box_1_id" jdbcType="CHAR" property="moneyBox1Id" />
    <result column="atm_money_box_1_status" jdbcType="CHAR" property="moneyBox1Status" />
    <result column="atm_money_box_1_max_amount" jdbcType="DECIMAL" property="moneyBox1MaxAmount" />
    <result column="atm_money_box_1_current_amount" jdbcType="DECIMAL" property="moneyBox1CurrentAmount" />
    <result column="atm_money_box_1_current_count" jdbcType="INTEGER" property="moneyBox1CurrentCount" />
    <result column="atm_money_box_1_max_count" jdbcType="INTEGER" property="moneyBox1MaxCount" />
    <result column="atm_money_box_1_currency" jdbcType="DECIMAL" property="moneyBox1Currency" />
    <result column="atm_money_box_1_unit" jdbcType="CHAR" property="moneyBox1Unit" />
    <result column="atm_money_box_1_type" jdbcType="CHAR" property="moneyBox1Type" />
    <result column="atm_money_box_2_id" jdbcType="CHAR" property="moneyBox2Id" />
    <result column="atm_money_box_2_status" jdbcType="CHAR" property="moneyBox2Status" />
    <result column="atm_money_box_2_max_amount" jdbcType="DECIMAL" property="moneyBox2MaxAmount" />
    <result column="atm_money_box_2_current_amount" jdbcType="DECIMAL" property="moneyBox2CurrentAmount" />
    <result column="atm_money_box_2_current_count" jdbcType="INTEGER" property="moneyBox2CurrentCount" />
    <result column="atm_money_box_2_max_count" jdbcType="INTEGER" property="moneyBox2MaxCount" />
    <result column="atm_money_box_2_currency" jdbcType="DECIMAL" property="moneyBox2Currency" />
    <result column="atm_money_box_2_unit" jdbcType="CHAR" property="moneyBox2Unit" />
    <result column="atm_money_box_2_type" jdbcType="CHAR" property="moneyBox2Type" />
    <result column="atm_money_box_3_id" jdbcType="CHAR" property="moneyBox3Id" />
    <result column="atm_money_box_3_status" jdbcType="CHAR" property="moneyBox3Status" />
    <result column="atm_money_box_3_max_amount" jdbcType="DECIMAL" property="moneyBox3MaxAmount" />
    <result column="atm_money_box_3_current_amount" jdbcType="DECIMAL" property="moneyBox3CurrentAmount" />
    <result column="atm_money_box_3_current_count" jdbcType="INTEGER" property="moneyBox3CurrentCount" />
    <result column="atm_money_box_3_max_count" jdbcType="INTEGER" property="moneyBox3MaxCount" />
    <result column="atm_money_box_3_currency" jdbcType="DECIMAL" property="moneyBox3Currency" />
    <result column="atm_money_box_3_unit" jdbcType="CHAR" property="moneyBox3Unit" />
    <result column="atm_money_box_3_type" jdbcType="CHAR" property="moneyBox3Type" />
    <result column="atm_money_box_4_id" jdbcType="CHAR" property="moneyBox4Id" />
    <result column="atm_money_box_4_status" jdbcType="CHAR" property="moneyBox4Status" />
    <result column="atm_money_box_4_max_amount" jdbcType="DECIMAL" property="moneyBox4MaxAmount" />
    <result column="atm_money_box_4_current_amount" jdbcType="DECIMAL" property="moneyBox4CurrentAmount" />
    <result column="atm_money_box_4_current_count" jdbcType="INTEGER" property="moneyBox4CurrentCount" />
    <result column="atm_money_box_4_max_count" jdbcType="INTEGER" property="moneyBox4MaxCount" />
    <result column="atm_money_box_4_currency" jdbcType="DECIMAL" property="moneyBox4Currency" />
    <result column="atm_money_box_4_unit" jdbcType="CHAR" property="moneyBox4Unit" />
    <result column="atm_money_box_4_type" jdbcType="CHAR" property="moneyBox4Type" />
    <result column="atm_money_box_5_id" jdbcType="CHAR" property="moneyBox5Id" />
    <result column="atm_money_box_5_status" jdbcType="CHAR" property="moneyBox5Status" />
    <result column="atm_money_box_5_max_amount" jdbcType="DECIMAL" property="moneyBox5MaxAmount" />
    <result column="atm_money_box_5_current_amount" jdbcType="DECIMAL" property="moneyBox5CurrentAmount" />
    <result column="atm_money_box_5_current_count" jdbcType="INTEGER" property="moneyBox5CurrentCount" />
    <result column="atm_money_box_5_max_count" jdbcType="INTEGER" property="moneyBox5MaxCount" />
    <result column="atm_money_box_5_currency" jdbcType="DECIMAL" property="moneyBox5Currency" />
    <result column="atm_money_box_5_unit" jdbcType="CHAR" property="moneyBox5Unit" />
    <result column="atm_money_box_5_type" jdbcType="CHAR" property="moneyBox5Type" />
    <result column="atm_upload_timestamp" jdbcType="TIMESTAMP" property="uploadTimestamp" />
    <result column="atm_status" jdbcType="CHAR" property="status" />
    <result column="atm_term_status" jdbcType="CHAR" property="termStatus" />
    <result column="atm_live_timestamp" jdbcType="TIMESTAMP" property="liveTimestamp" />
    <result column="atm_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="atm_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="atm_operator_id" jdbcType="BIGINT" property="operatorId" />
    <result column="atm_operator_name" jdbcType="VARCHAR" property="operatorName" />
    <result column="atm_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>