<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.BankAtmLogBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.BankAtmLogBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="atm_id" jdbcType="BIGINT" property="id" />
    <result column="atm_external_id" jdbcType="VARCHAR" property="externalId" />
    <result column="atm_dispositivo" jdbcType="VARCHAR" property="dispositivo" />
    <result column="atm_consecutivo" jdbcType="BIGINT" property="consecutivo" />
    <result column="atm_internal_id" jdbcType="VARCHAR" property="internalId" />
    <result column="atm_error_code" jdbcType="CHAR" property="errorCode" />
    <result column="atm_description" jdbcType="CHAR" property="description" />
    <result column="atm_upload_timestamp" jdbcType="TIMESTAMP" property="uploadTimestamp" />
    <result column="atm_unit_status" jdbcType="CHAR" property="unitStatus" />
    <result column="atm_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
  </resultMap>
</mapper>