<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.BankAtmCodeBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.BankAtmCodeBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="code_id" jdbcType="BIGINT" property="id" />
    <result column="code_client_id" jdbcType="BIGINT" property="clientId" />
    <result column="code_suggestion" jdbcType="VARCHAR" property="suggestion" />
    <result column="code_num" jdbcType="CHAR" property="num" />
    <result column="code_description" jdbcType="CHAR" property="description" />
  </resultMap>
</mapper>