<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.ClientBranchBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.ClientBranchBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="branch_id" jdbcType="BIGINT" property="id" />
    <result column="branch_internal_id" jdbcType="VARCHAR" property="internalId" />
    <result column="branch_name" jdbcType="VARCHAR" property="name" />
    <result column="branch_cit_id" jdbcType="BIGINT" property="citId" />
    <result column="branch_type" jdbcType="VARCHAR" property="type" />
    <result column="branch_client_id" jdbcType="BIGINT" property="clientId" />
    <result column="branch_client_internal_id" jdbcType="VARCHAR" property="clientInternalId" />
    <result column="branch_client_name" jdbcType="VARCHAR" property="clientName" />
    <result column="branch_time_zone" jdbcType="VARCHAR" property="timeZone" />
    <result column="branch_phone" jdbcType="VARCHAR" property="phone" />
    <result column="branch_address" jdbcType="VARCHAR" property="address" />
    <result column="branch_latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="branch_longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="branch_safe_key_number" jdbcType="VARCHAR" property="safeKeyNumber" />
    <result column="branch_synchronous_interval" jdbcType="BIGINT" property="synchronousInterval" />
    <result column="branch_assign_vehicle_flag" jdbcType="CHAR" property="assignVehicleFlag" />
    <result column="branch_assign_route_flag" jdbcType="CHAR" property="assignRouteFlag" />
    <result column="branch_assign_auxiliary_flag" jdbcType="CHAR" property="assignAuxiliaryFlag" />
    <result column="branch_assign_guard_flag" jdbcType="CHAR" property="assignGuardFlag" />
    <result column="branch_need_validate_flag" jdbcType="CHAR" property="needValidateFlag" />
    <result column="branch_need_arrive_flag" jdbcType="CHAR" property="needArriveFlag" />
    <result column="branch_need_order_flag" jdbcType="CHAR" property="needOrderFlag" />
    <result column="branch_need_print_flag" jdbcType="CHAR" property="needPrintFlag" />
    <result column="branch_need_pin_flag" jdbcType="CHAR" property="needPinFlag" />
    <result column="branch_need_photograph_flag" jdbcType="CHAR" property="needPhotographFlag" />
    <result column="branch_need_signature_flag" jdbcType="CHAR" property="needSignatureFlag" />
    <result column="branch_switch_cancel_task_visit_bill_by_pickup" jdbcType="CHAR" property="switchCancelTaskVisitBillByPickup" />
    <result column="branch_switch_cancel_task_visit_bill_by_delivery" jdbcType="CHAR" property="switchCancelTaskVisitBillByDelivery" />
    <result column="branch_switch_cancel_task_visit_bill_by_directly_to_pickup" jdbcType="CHAR" property="switchCancelTaskVisitBillByDirectlyToPickup" />
    <result column="branch_switch_cancel_task_visit_bill_by_directly_to_delivery" jdbcType="CHAR" property="switchCancelTaskVisitBillByDirectlyToDelivery" />
    <result column="branch_switch_send_task_need_add_comprobantes" jdbcType="CHAR" property="switchSendTaskNeedAddComprobantes" />
    <result column="branch_switch_ip_change_token_effective" jdbcType="CHAR" property="switchIpChangeTokenEffective" />
    <result column="branch_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="branch_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="branch_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>