<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.CurrencyBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.CurrencyBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="currency_id" jdbcType="BIGINT" property="id" />
    <result column="currency_client_id" jdbcType="BIGINT" property="clientId" />
    <result column="currency_internal_id" jdbcType="VARCHAR" property="internalId" />
    <result column="currency_iso_code" jdbcType="VARCHAR" property="isoCode" />
    <result column="currency_availability" jdbcType="CHAR" property="availability" />
    <result column="currency_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="currency_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="currency_update_timestamp" jdbcType="TIMESTAMP" property="updateTimestamp" />
    <result column="currency_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>