<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.DepartmentBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.DepartmentBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="department_id" jdbcType="BIGINT" property="id" />
    <result column="department_name" jdbcType="VARCHAR" property="name" />
    <result column="department_status" jdbcType="CHAR" property="status" />
    <result column="department_description" jdbcType="VARCHAR" property="description" />
    <result column="department_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="department_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>