<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.PrivilegeBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.PrivilegeBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="privilege_id" jdbcType="BIGINT" property="id" />
    <result column="privilege_name" jdbcType="VARCHAR" property="name" />
    <result column="privilege_module_name" jdbcType="VARCHAR" property="moduleName" />
    <result column="privilege_status" jdbcType="CHAR" property="status" />
    <result column="privilege_urls" jdbcType="VARCHAR" property="urls" />
    <result column="privilege_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>