<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.RoleBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.RoleBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="role_id" jdbcType="BIGINT" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="name" />
    <result column="role_amount" jdbcType="INTEGER" property="amount" />
    <result column="role_privilege" jdbcType="VARCHAR" property="privilege" />
    <result column="role_status" jdbcType="CHAR" property="status" />
    <result column="role_description" jdbcType="VARCHAR" property="description" />
    <result column="role_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="role_create_date_timestamp" jdbcType="TIMESTAMP" property="createDateTimestamp" />
    <result column="role_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>