<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.SioLoginAccountMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.SioLoginAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="account_id" jdbcType="BIGINT" property="id" />
    <result column="account_company_internal_id" jdbcType="VARCHAR" property="companyInternalId" />
    <result column="account_company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="account_branch_internal_id" jdbcType="VARCHAR" property="branchInternalId" />
    <result column="account_branch_name" jdbcType="VARCHAR" property="branchName" />
    <result column="account_username" jdbcType="VARCHAR" property="username" />
    <result column="account_password" jdbcType="VARCHAR" property="password" />
    <result column="account_login_url" jdbcType="VARCHAR" property="loginUrl" />
    <result column="account_key_login_company_internal_id" jdbcType="VARCHAR" property="keyLoginCompanyInternalId" />
    <result column="account_key_login_branch_internal_id" jdbcType="VARCHAR" property="keyLoginBranchInternalId" />
    <result column="account_key_login_username" jdbcType="VARCHAR" property="keyLoginUsername" />
    <result column="account_key_login_password" jdbcType="VARCHAR" property="keyLoginPassword" />
    <result column="account_upload_data_url" jdbcType="VARCHAR" property="uploadDataUrl" />
    <result column="account_key_upload_data_file" jdbcType="VARCHAR" property="keyUploadDataFile" />
    <result column="account_key_upload_data_token" jdbcType="VARCHAR" property="keyUploadDataToken" />
    <result column="account_status" jdbcType="CHAR" property="status" />
    <result column="account_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="account_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="account_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>