<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.SioTaskBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.SioTaskBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="task_id" jdbcType="BIGINT" property="id" />
    <result column="task_task_original_complex_id" jdbcType="VARCHAR" property="taskOriginalComplexId" />
    <result column="task_route_company_internal_id" jdbcType="CHAR" property="routeCompanyInternalId" />
    <result column="task_route_branch_internal_id" jdbcType="VARCHAR" property="routeBranchInternalId" />
    <result column="task_route_service_date" jdbcType="CHAR" property="routeServiceDate" />
    <result column="task_route_id" jdbcType="VARCHAR" property="routeId" />
    <result column="task_route_status" jdbcType="VARCHAR" property="routeStatus" />
    <result column="task_route_username" jdbcType="VARCHAR" property="routeUsername" />
    <result column="task_route_password" jdbcType="VARCHAR" property="routePassword" />
    <result column="task_task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="task_route_order" jdbcType="INTEGER" property="routeOrder" />
    <result column="task_generated_type" jdbcType="VARCHAR" property="generatedType" />
    <result column="task_service_type" jdbcType="VARCHAR" property="serviceType" />
    <result column="task_service_code" jdbcType="VARCHAR" property="serviceCode" />
    <result column="task_description" jdbcType="VARCHAR" property="description" />
    <result column="task_safe_key_number" jdbcType="VARCHAR" property="safeKeyNumber" />
    <result column="task_money_bags_total_number" jdbcType="VARCHAR" property="moneyBagsTotalNumber" />
    <result column="task_comprobantes_total_number" jdbcType="VARCHAR" property="comprobantesTotalNumber" />
    <result column="task_status" jdbcType="VARCHAR" property="status" />
    <result column="task_notes" jdbcType="VARCHAR" property="notes" />
    <result column="task_xml_sender_branch_internal_id" jdbcType="VARCHAR" property="xmlSenderBranchInternalId" />
    <result column="task_xml_sender_window_service_time" jdbcType="CHAR" property="xmlSenderWindowServiceTime" />
    <result column="task_xml_sender_window_service_duration" jdbcType="VARCHAR" property="xmlSenderWindowServiceDuration" />
    <result column="task_xml_receiver_branch_internal_id" jdbcType="VARCHAR" property="xmlReceiverBranchInternalId" />
    <result column="task_xml_receiver_window_service_time" jdbcType="CHAR" property="xmlReceiverWindowServiceTime" />
    <result column="task_xml_receiver_window_service_duration" jdbcType="VARCHAR" property="xmlReceiverWindowServiceDuration" />
    <result column="task_config_whether_electronic_bill" jdbcType="VARCHAR" property="configWhetherElectronicBill" />
    <result column="task_config_cancel_money_back_party" jdbcType="VARCHAR" property="configCancelMoneyBackParty" />
    <result column="task_config_whether_site_counting" jdbcType="VARCHAR" property="configWhetherSiteCounting" />
    <result column="task_config_atm_id" jdbcType="VARCHAR" property="configAtmId" />
    <result column="task_config_whether_site_wages" jdbcType="VARCHAR" property="configWhetherSiteWages" />
    <result column="task_config_xml_source_side" jdbcType="VARCHAR" property="configXmlSourceSide" />
    <result column="task_inter_change_type" jdbcType="VARCHAR" property="interChangeType" />
    <result column="task_inter_change_company_internal_id" jdbcType="VARCHAR" property="interChangeCompanyInternalId" />
    <result column="task_inter_change_branch_internal_id" jdbcType="VARCHAR" property="interChangeBranchInternalId" />
    <result column="task_inter_change_route_id" jdbcType="VARCHAR" property="interChangeRouteId" />
    <result column="task_inter_change_service_date" jdbcType="VARCHAR" property="interChangeServiceDate" />
    <result column="task_inter_change_task_id" jdbcType="VARCHAR" property="interChangeTaskId" />
    <result column="task_sender_branch_internal_id" jdbcType="VARCHAR" property="senderBranchInternalId" />
    <result column="task_sender_window_service_time" jdbcType="CHAR" property="senderWindowServiceTime" />
    <result column="task_sender_check_inn" jdbcType="VARCHAR" property="senderCheckInn" />
    <result column="task_sender_check_out" jdbcType="VARCHAR" property="senderCheckOut" />
    <result column="task_sender_branch_name" jdbcType="VARCHAR" property="senderBranchName" />
    <result column="task_sender_branch_address_street" jdbcType="VARCHAR" property="senderBranchAddressStreet" />
    <result column="task_sender_branch_address_number" jdbcType="VARCHAR" property="senderBranchAddressNumber" />
    <result column="task_sender_branch_latitude" jdbcType="VARCHAR" property="senderBranchLatitude" />
    <result column="task_sender_branch_longitude" jdbcType="VARCHAR" property="senderBranchLongitude" />
    <result column="task_receiver_branch_internal_id" jdbcType="VARCHAR" property="receiverBranchInternalId" />
    <result column="task_receiver_window_service_time" jdbcType="CHAR" property="receiverWindowServiceTime" />
    <result column="task_receiver_check_inn" jdbcType="VARCHAR" property="receiverCheckInn" />
    <result column="task_receiver_check_out" jdbcType="VARCHAR" property="receiverCheckOut" />
    <result column="task_receiver_branch_name" jdbcType="VARCHAR" property="receiverBranchName" />
    <result column="task_receiver_branch_address_street" jdbcType="VARCHAR" property="receiverBranchAddressStreet" />
    <result column="task_receiver_branch_address_number" jdbcType="VARCHAR" property="receiverBranchAddressNumber" />
    <result column="task_receiver_branch_latitude" jdbcType="VARCHAR" property="receiverBranchLatitude" />
    <result column="task_receiver_branch_longitude" jdbcType="VARCHAR" property="receiverBranchLongitude" />
    <result column="task_vehicle_internal_id" jdbcType="VARCHAR" property="vehicleInternalId" />
    <result column="task_vehicle_license_plate" jdbcType="VARCHAR" property="vehicleLicensePlate" />
    <result column="task_vehicle_description" jdbcType="VARCHAR" property="vehicleDescription" />
    <result column="task_vehicle_currency_capacity" jdbcType="VARCHAR" property="vehicleCurrencyCapacity" />
    <result column="task_driver_internal_id" jdbcType="VARCHAR" property="driverInternalId" />
    <result column="task_driver_full_name" jdbcType="VARCHAR" property="driverFullName" />
    <result column="task_driver_father_last_name" jdbcType="VARCHAR" property="driverFatherLastName" />
    <result column="task_driver_mother_last_name" jdbcType="VARCHAR" property="driverMotherLastName" />
    <result column="task_driver_sio_department_id" jdbcType="VARCHAR" property="driverSioDepartmentId" />
    <result column="task_driver_sio_department_description" jdbcType="VARCHAR" property="driverSioDepartmentDescription" />
    <result column="task_driver_sio_role_id" jdbcType="VARCHAR" property="driverSioRoleId" />
    <result column="task_driver_sio_role_description" jdbcType="VARCHAR" property="driverSioRoleDescription" />
    <result column="task_driver_crew_type" jdbcType="CHAR" property="driverCrewType" />
    <result column="task_cashier_internal_id" jdbcType="VARCHAR" property="cashierInternalId" />
    <result column="task_cashier_full_name" jdbcType="VARCHAR" property="cashierFullName" />
    <result column="task_cashier_father_last_name" jdbcType="VARCHAR" property="cashierFatherLastName" />
    <result column="task_cashier_mother_last_name" jdbcType="VARCHAR" property="cashierMotherLastName" />
    <result column="task_cashier_sio_department_id" jdbcType="VARCHAR" property="cashierSioDepartmentId" />
    <result column="task_cashier_sio_department_description" jdbcType="VARCHAR" property="cashierSioDepartmentDescription" />
    <result column="task_cashier_sio_role_id" jdbcType="VARCHAR" property="cashierSioRoleId" />
    <result column="task_cashier_sio_role_description" jdbcType="VARCHAR" property="cashierSioRoleDescription" />
    <result column="task_cashier_crew_type" jdbcType="CHAR" property="cashierCrewType" />
    <result column="task_security1_internal_id" jdbcType="VARCHAR" property="security1InternalId" />
    <result column="task_security1_full_name" jdbcType="VARCHAR" property="security1FullName" />
    <result column="task_security1_father_last_name" jdbcType="VARCHAR" property="security1FatherLastName" />
    <result column="task_security1_mother_last_name" jdbcType="VARCHAR" property="security1MotherLastName" />
    <result column="task_security1_sio_department_id" jdbcType="VARCHAR" property="security1SioDepartmentId" />
    <result column="task_security1_sio_department_description" jdbcType="VARCHAR" property="security1SioDepartmentDescription" />
    <result column="task_security1_sio_role_id" jdbcType="VARCHAR" property="security1SioRoleId" />
    <result column="task_security1_sio_role_description" jdbcType="VARCHAR" property="security1SioRoleDescription" />
    <result column="task_security1_crew_type" jdbcType="CHAR" property="security1CrewType" />
    <result column="task_security2_internal_id" jdbcType="VARCHAR" property="security2InternalId" />
    <result column="task_security2_full_name" jdbcType="VARCHAR" property="security2FullName" />
    <result column="task_security2_father_last_name" jdbcType="VARCHAR" property="security2FatherLastName" />
    <result column="task_security2_mother_last_name" jdbcType="VARCHAR" property="security2MotherLastName" />
    <result column="task_security2_sio_department_id" jdbcType="VARCHAR" property="security2SioDepartmentId" />
    <result column="task_security2_sio_department_description" jdbcType="VARCHAR" property="security2SioDepartmentDescription" />
    <result column="task_security2_sio_role_id" jdbcType="VARCHAR" property="security2SioRoleId" />
    <result column="task_security2_sio_role_description" jdbcType="VARCHAR" property="security2SioRoleDescription" />
    <result column="task_security2_crew_type" jdbcType="CHAR" property="security2CrewType" />
    <result column="task_security3_internal_id" jdbcType="VARCHAR" property="security3InternalId" />
    <result column="task_security3_full_name" jdbcType="VARCHAR" property="security3FullName" />
    <result column="task_security3_father_last_name" jdbcType="VARCHAR" property="security3FatherLastName" />
    <result column="task_security3_mother_last_name" jdbcType="VARCHAR" property="security3MotherLastName" />
    <result column="task_security3_sio_department_id" jdbcType="VARCHAR" property="security3SioDepartmentId" />
    <result column="task_security3_sio_department_description" jdbcType="VARCHAR" property="security3SioDepartmentDescription" />
    <result column="task_security3_sio_role_id" jdbcType="VARCHAR" property="security3SioRoleId" />
    <result column="task_security3_sio_role_description" jdbcType="VARCHAR" property="security3SioRoleDescription" />
    <result column="task_security3_crew_type" jdbcType="CHAR" property="security3CrewType" />
    <result column="task_security4_internal_id" jdbcType="VARCHAR" property="security4InternalId" />
    <result column="task_security4_full_name" jdbcType="VARCHAR" property="security4FullName" />
    <result column="task_security4_father_last_name" jdbcType="VARCHAR" property="security4FatherLastName" />
    <result column="task_security4_mother_last_name" jdbcType="VARCHAR" property="security4MotherLastName" />
    <result column="task_security4_sio_department_id" jdbcType="VARCHAR" property="security4SioDepartmentId" />
    <result column="task_security4_sio_department_description" jdbcType="VARCHAR" property="security4SioDepartmentDescription" />
    <result column="task_security4_sio_role_id" jdbcType="VARCHAR" property="security4SioRoleId" />
    <result column="task_security4_sio_role_description" jdbcType="VARCHAR" property="security4SioRoleDescription" />
    <result column="task_security4_crew_type" jdbcType="CHAR" property="security4CrewType" />
    <result column="task_counter_internal_id" jdbcType="VARCHAR" property="counterInternalId" />
    <result column="task_counter_full_name" jdbcType="VARCHAR" property="counterFullName" />
    <result column="task_counter_father_last_name" jdbcType="VARCHAR" property="counterFatherLastName" />
    <result column="task_counter_mother_last_name" jdbcType="VARCHAR" property="counterMotherLastName" />
    <result column="task_counter_sio_department_id" jdbcType="VARCHAR" property="counterSioDepartmentId" />
    <result column="task_counter_sio_department_description" jdbcType="VARCHAR" property="counterSioDepartmentDescription" />
    <result column="task_counter_sio_role_id" jdbcType="VARCHAR" property="counterSioRoleId" />
    <result column="task_counter_sio_role_description" jdbcType="VARCHAR" property="counterSioRoleDescription" />
    <result column="task_counter_crew_type" jdbcType="CHAR" property="counterCrewType" />
    <result column="task_drawee_internal_id" jdbcType="VARCHAR" property="draweeInternalId" />
    <result column="task_drawee_full_name" jdbcType="VARCHAR" property="draweeFullName" />
    <result column="task_drawee_father_last_name" jdbcType="VARCHAR" property="draweeFatherLastName" />
    <result column="task_drawee_mother_last_name" jdbcType="VARCHAR" property="draweeMotherLastName" />
    <result column="task_drawee_sio_department_id" jdbcType="VARCHAR" property="draweeSioDepartmentId" />
    <result column="task_drawee_sio_department_description" jdbcType="VARCHAR" property="draweeSioDepartmentDescription" />
    <result column="task_drawee_sio_role_id" jdbcType="VARCHAR" property="draweeSioRoleId" />
    <result column="task_drawee_sio_role_description" jdbcType="VARCHAR" property="draweeSioRoleDescription" />
    <result column="task_drawee_crew_type" jdbcType="CHAR" property="draweeCrewType" />
    <result column="task_crew_crew_json" jdbcType="VARCHAR" property="crewCrewJson" />
    <result column="task_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="task_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="task_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>