<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.dao.TaskInterChangeBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.bean.TaskInterChangeBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ic_id" jdbcType="BIGINT" property="id" />
    <result column="ic_batch_id" jdbcType="BIGINT" property="batchId" />
    <result column="ic_from_company_internal_id" jdbcType="VARCHAR" property="fromCompanyInternalId" />
    <result column="ic_from_branch_internal_id" jdbcType="VARCHAR" property="fromBranchInternalId" />
    <result column="ic_from_service_date" jdbcType="CHAR" property="fromServiceDate" />
    <result column="ic_from_route_id" jdbcType="VARCHAR" property="fromRouteId" />
    <result column="ic_from_task_ids" jdbcType="VARCHAR" property="fromTaskIds" />
    <result column="ic_from_evidence_picture" jdbcType="VARCHAR" property="fromEvidencePicture" />
    <result column="ic_from_signature_picture" jdbcType="VARCHAR" property="fromSignaturePicture" />
    <result column="ic_from_latitude" jdbcType="VARCHAR" property="fromLatitude" />
    <result column="ic_from_longitude" jdbcType="VARCHAR" property="fromLongitude" />
    <result column="ic_from_confirm" jdbcType="CHAR" property="fromConfirm" />
    <result column="ic_to_company_internal_id" jdbcType="VARCHAR" property="toCompanyInternalId" />
    <result column="ic_to_branch_internal_id" jdbcType="VARCHAR" property="toBranchInternalId" />
    <result column="ic_to_service_date" jdbcType="CHAR" property="toServiceDate" />
    <result column="ic_to_route_id" jdbcType="VARCHAR" property="toRouteId" />
    <result column="ic_to_task_ids" jdbcType="VARCHAR" property="toTaskIds" />
    <result column="ic_to_evidence_picture" jdbcType="VARCHAR" property="toEvidencePicture" />
    <result column="ic_to_signature_picture" jdbcType="VARCHAR" property="toSignaturePicture" />
    <result column="ic_to_latitude" jdbcType="VARCHAR" property="toLatitude" />
    <result column="ic_to_longitude" jdbcType="VARCHAR" property="toLongitude" />
    <result column="ic_to_confirm" jdbcType="CHAR" property="toConfirm" />
    <result column="ic_status" jdbcType="VARCHAR" property="status" />
    <result column="ic_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="ic_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="ic_delete_flag" jdbcType="CHAR" property="deleteFlag" />
  </resultMap>
</mapper>