<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.TaskBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.TaskBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="task_pk_id" jdbcType="BIGINT" property="pkId" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="task_service_date" jdbcType="CHAR" property="serviceDate" />
    <result column="task_service_type" jdbcType="VARCHAR" property="serviceType" />
    <result column="task_whether_site_counting" jdbcType="VARCHAR" property="whetherSiteCounting" />
    <result column="task_route_id" jdbcType="VARCHAR" property="routeId" />
    <result column="task_route_order" jdbcType="INTEGER" property="routeOrder" />
    <result column="task_status" jdbcType="VARCHAR" property="status" />
    <result column="task_availability" jdbcType="CHAR" property="availability" />
    <result column="task_whether_completed" jdbcType="CHAR" property="whetherCompleted" />
    <result column="task_whether_inter_changed" jdbcType="CHAR" property="whetherInterChanged" />
    <result column="task_inter_change_type" jdbcType="CHAR" property="interChangeType" />
    <result column="task_inter_change_original_task_complex_id" jdbcType="VARCHAR" property="interChangeOriginalComplexId" />
    <result column="task_inter_change_latitude" jdbcType="VARCHAR" property="interChangeLatitude" />
    <result column="task_inter_change_longitude" jdbcType="VARCHAR" property="interChangeLongitude" />
    <result column="task_complete_latitude" jdbcType="VARCHAR" property="completeLatitude" />
    <result column="task_complete_longitude" jdbcType="VARCHAR" property="completeLongitude" />
    <result column="task_app_version" jdbcType="TIMESTAMP" property="appVersion" />
    <result column="task_arrival_time_auto_calc" jdbcType="TIMESTAMP" property="arrivalTimeAutoCalc" />
    <result column="task_arrival_time_manual_input" jdbcType="TIMESTAMP" property="arrivalTimeManualInput" />
    <result column="task_process_start_timestamp" jdbcType="TIMESTAMP" property="processStartTimestamp" />
    <result column="task_process_end_timestamp" jdbcType="TIMESTAMP" property="processEndTimestamp" />
    <result column="task_process_timeliness" jdbcType="VARCHAR" property="processTimeliness" />
    <result column="task_partial_arrival_time_auto_calc" jdbcType="TIMESTAMP" property="partialArrivalTimeAutoCalc" />
    <result column="task_partial_arrival_time_manual_input" jdbcType="TIMESTAMP" property="partialArrivalTimeManualInput" />
    <result column="task_partial_process_start_timestamp" jdbcType="TIMESTAMP" property="partialProcessStartTimestamp" />
    <result column="task_partial_process_end_timestamp" jdbcType="TIMESTAMP" property="partialProcessEndTimestamp" />
    <result column="task_partial_process_timeliness" jdbcType="VARCHAR" property="partialProcessTimeliness" />
    <result column="task_cancel_responsible_party" jdbcType="VARCHAR" property="cancelResponsibleParty" />
    <result column="task_cancel_single_receipt" jdbcType="VARCHAR" property="cancelSingleReceipt" />
    <result column="task_cancel_reason" jdbcType="VARCHAR" property="cancelReason" />
    <result column="task_cancel_money_back_party" jdbcType="VARCHAR" property="cancelMoneyBackParty" />
    <result column="task_cancel_comment" jdbcType="VARCHAR" property="cancelComment" />
    <result column="task_sender_client_id" jdbcType="BIGINT" property="senderClientId" />
    <result column="task_sender_client_internal_id" jdbcType="VARCHAR" property="senderClientInternalId" />
    <result column="task_sender_client_name" jdbcType="VARCHAR" property="senderClientName" />
    <result column="task_sender_branch_id" jdbcType="BIGINT" property="senderBranchId" />
    <result column="task_sender_branch_internal_id" jdbcType="VARCHAR" property="senderBranchInternalId" />
    <result column="task_sender_branch_name" jdbcType="VARCHAR" property="senderBranchName" />
    <result column="task_sender_time_window_start" jdbcType="CHAR" property="senderTimeWindowStart" />
    <result column="task_sender_time_window_end" jdbcType="CHAR" property="senderTimeWindowEnd" />
    <result column="task_sender_time_window_duration" jdbcType="INTEGER" property="senderTimeWindowDuration" />
    <result column="task_sender_branch_phone" jdbcType="VARCHAR" property="senderBranchPhone" />
    <result column="task_sender_branch_address" jdbcType="VARCHAR" property="senderBranchAddress" />
    <result column="task_sender_branch_latitude" jdbcType="VARCHAR" property="senderBranchLatitude" />
    <result column="task_sender_branch_longitude" jdbcType="VARCHAR" property="senderBranchLongitude" />
    <result column="task_receiver_client_id" jdbcType="BIGINT" property="receiverClientId" />
    <result column="task_receiver_client_internal_id" jdbcType="VARCHAR" property="receiverClientInternalId" />
    <result column="task_receiver_client_name" jdbcType="VARCHAR" property="receiverClientName" />
    <result column="task_receiver_branch_id" jdbcType="BIGINT" property="receiverBranchId" />
    <result column="task_receiver_branch_internal_id" jdbcType="VARCHAR" property="receiverBranchInternalId" />
    <result column="task_receiver_branch_name" jdbcType="VARCHAR" property="receiverBranchName" />
    <result column="task_receiver_time_window_start" jdbcType="CHAR" property="receiverTimeWindowStart" />
    <result column="task_receiver_time_window_end" jdbcType="CHAR" property="receiverTimeWindowEnd" />
    <result column="task_receiver_time_window_duration" jdbcType="INTEGER" property="receiverTimeWindowDuration" />
    <result column="task_receiver_branch_phone" jdbcType="VARCHAR" property="receiverBranchPhone" />
    <result column="task_receiver_branch_address" jdbcType="VARCHAR" property="receiverBranchAddress" />
    <result column="task_receiver_branch_latitude" jdbcType="VARCHAR" property="receiverBranchLatitude" />
    <result column="task_receiver_branch_longitude" jdbcType="VARCHAR" property="receiverBranchLongitude" />
    <result column="task_vehicle_id" jdbcType="BIGINT" property="vehicleId" />
    <result column="task_vehicle_internal_id" jdbcType="VARCHAR" property="vehicleInternalId" />
    <result column="task_vehicle_tomtom_id" jdbcType="VARCHAR" property="vehicleTomtomId" />
    <result column="task_vehicle_license" jdbcType="VARCHAR" property="vehicleLicense" />
    <result column="task_vehicle_armored_level" jdbcType="VARCHAR" property="vehicleArmoredLevel" />
    <result column="task_vehicle_service_type" jdbcType="VARCHAR" property="vehicleServiceType" />
    <result column="task_vehicle_model" jdbcType="VARCHAR" property="vehicleModel" />
    <result column="task_vehicle_vin" jdbcType="VARCHAR" property="vehicleVin" />
    <result column="task_vehicle_currency_capacity" jdbcType="VARCHAR" property="vehicleCurrencyCapacity" />
    <result column="task_service_person_number" jdbcType="INTEGER" property="servicePersonNumber" />
    <result column="task_driver_id" jdbcType="BIGINT" property="driverId" />
    <result column="task_driver_username" jdbcType="VARCHAR" property="driverUsername" />
    <result column="task_driver_internal_id" jdbcType="VARCHAR" property="driverInternalId" />
    <result column="task_driver_first_name" jdbcType="VARCHAR" property="driverFirstName" />
    <result column="task_driver_last_name" jdbcType="VARCHAR" property="driverLastName" />
    <result column="task_driver_phone" jdbcType="VARCHAR" property="driverPhone" />
    <result column="task_driver_shift" jdbcType="CHAR" property="driverShift" />
    <result column="task_cashier_id" jdbcType="BIGINT" property="cashierId" />
    <result column="task_cashier_username" jdbcType="VARCHAR" property="cashierUsername" />
    <result column="task_cashier_internal_id" jdbcType="VARCHAR" property="cashierInternalId" />
    <result column="task_cashier_first_name" jdbcType="VARCHAR" property="cashierFirstName" />
    <result column="task_cashier_last_name" jdbcType="VARCHAR" property="cashierLastName" />
    <result column="task_cashier_phone" jdbcType="VARCHAR" property="cashierPhone" />
    <result column="task_cashier_shift" jdbcType="CHAR" property="cashierShift" />
    <result column="task_cashier_pass_code" jdbcType="VARCHAR" property="cashierPassCode" />
    <result column="task_security1_id" jdbcType="BIGINT" property="security1Id" />
    <result column="task_security1_username" jdbcType="VARCHAR" property="security1Username" />
    <result column="task_security1_internal_id" jdbcType="VARCHAR" property="security1InternalId" />
    <result column="task_security1_first_name" jdbcType="VARCHAR" property="security1FirstName" />
    <result column="task_security1_last_name" jdbcType="VARCHAR" property="security1LastName" />
    <result column="task_security1_phone" jdbcType="VARCHAR" property="security1Phone" />
    <result column="task_security1_shift" jdbcType="CHAR" property="security1Shift" />
    <result column="task_security2_id" jdbcType="BIGINT" property="security2Id" />
    <result column="task_security2_username" jdbcType="VARCHAR" property="security2Username" />
    <result column="task_security2_internal_id" jdbcType="VARCHAR" property="security2InternalId" />
    <result column="task_security2_first_name" jdbcType="VARCHAR" property="security2FirstName" />
    <result column="task_security2_last_name" jdbcType="VARCHAR" property="security2LastName" />
    <result column="task_security2_phone" jdbcType="VARCHAR" property="security2Phone" />
    <result column="task_security2_shift" jdbcType="CHAR" property="security2Shift" />
    <result column="task_security3_id" jdbcType="BIGINT" property="security3Id" />
    <result column="task_security3_username" jdbcType="VARCHAR" property="security3Username" />
    <result column="task_security3_internal_id" jdbcType="VARCHAR" property="security3InternalId" />
    <result column="task_security3_first_name" jdbcType="VARCHAR" property="security3FirstName" />
    <result column="task_security3_last_name" jdbcType="VARCHAR" property="security3LastName" />
    <result column="task_security3_phone" jdbcType="VARCHAR" property="security3Phone" />
    <result column="task_security3_shift" jdbcType="CHAR" property="security3Shift" />
    <result column="task_security4_id" jdbcType="BIGINT" property="security4Id" />
    <result column="task_security4_username" jdbcType="VARCHAR" property="security4Username" />
    <result column="task_security4_internal_id" jdbcType="VARCHAR" property="security4InternalId" />
    <result column="task_security4_first_name" jdbcType="VARCHAR" property="security4FirstName" />
    <result column="task_security4_last_name" jdbcType="VARCHAR" property="security4LastName" />
    <result column="task_security4_phone" jdbcType="VARCHAR" property="security4Phone" />
    <result column="task_security4_shift" jdbcType="CHAR" property="security4Shift" />
    <result column="task_nip_username_pass_code" jdbcType="VARCHAR" property="nipUsernamePassCode" />
    <result column="task_nip_confirm_username" jdbcType="VARCHAR" property="nipConfirmUsername" />
    <result column="task_service_line" jdbcType="VARCHAR" property="serviceLine" />
    <result column="task_shift" jdbcType="CHAR" property="shift" />
    <result column="task_armored_level" jdbcType="VARCHAR" property="armoredLevel" />
    <result column="task_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="task_update_timestamp" jdbcType="TIMESTAMP" property="updateTimestamp" />
    <result column="task_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="task_delete_flag" jdbcType="CHAR" property="deleteFlag" />
    <result column="task_atm_external_id" jdbcType="VARCHAR" property="atmExternalId" />
    <result column="task_deadline" jdbcType="CHAR" property="deadline" />
    <result column="task_description" jdbcType="VARCHAR" property="description" />
    <result column="task_generate_source_party" jdbcType="VARCHAR" property="generateSourceParty" />
    <result column="task_generated_type" jdbcType="VARCHAR" property="generatedType" />
    <result column="task_source_company_id" jdbcType="BIGINT" property="sourceCompanyId" />
    <result column="task_source_company_internal_id" jdbcType="VARCHAR" property="sourceCompanyInternalId" />
    <result column="task_source_company_name" jdbcType="VARCHAR" property="sourceCompanyName" />
    <result column="task_source_branch_id" jdbcType="BIGINT" property="sourceBranchId" />
    <result column="task_source_branch_internal_id" jdbcType="VARCHAR" property="sourceBranchInternalId" />
    <result column="task_source_branch_name" jdbcType="VARCHAR" property="sourceBranchName" />
    <result column="task_source_task_id" jdbcType="VARCHAR" property="sourceTaskId" />
    <result column="task_source_task_service_type" jdbcType="VARCHAR" property="sourceServiceType" />
    <result column="task_source_service_code" jdbcType="VARCHAR" property="sourceServiceCode" />
    <result column="task_source_safe_key_number" jdbcType="VARCHAR" property="sourceSafeKeyNumber" />
    <result column="task_source_description" jdbcType="VARCHAR" property="sourceDescription" />
    <result column="task_source_availability" jdbcType="CHAR" property="sourceAvailability" />
    <result column="task_source_task_original_complex_id" jdbcType="VARCHAR" property="sourceOriginalComplexId" />
    <result column="task_last_generate_xml_task_status" jdbcType="VARCHAR" property="lastGenerateXmlTaskStatus" />
  </resultMap>
</mapper>