<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.TransactionsBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.TransactionsBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="idtransaccion" jdbcType="INTEGER" property="id" />
    <result column="dispositivo" jdbcType="VARCHAR" property="depositId" />
    <result column="usuario" jdbcType="VARCHAR" property="depositUserAccount" />
    <result column="operacion" jdbcType="INTEGER" property="operationType" />
    <result column="fechaHoraDispositivo" jdbcType="TIMESTAMP" property="depositDateTime" />
    <result column="fechaHoraServicio" jdbcType="TIMESTAMP" property="depositSendServerDateTime" />
    <result column="transaccionEnvase" jdbcType="INTEGER" property="envelopesNumber" />
    <result column="codigoEnvase" jdbcType="VARCHAR" property="envelopesCode" />
    <result column="cuentaBanco" jdbcType="INTEGER" property="currencyCurrentNumber" />
    <result column="referencia" jdbcType="INTEGER" property="reference" />
    <result column="estatusMaquina" jdbcType="VARCHAR" property="deviceStatus" />
    <result column="codHex" jdbcType="VARCHAR" property="codError" />
    <result column="codigoRetiro" jdbcType="INTEGER" property="withdrawalsId" />
    <result column="descripcion" jdbcType="VARCHAR" property="description" />
    <result column="totalValidado" jdbcType="INTEGER" property="currencyTotalAmount" />
    <result column="billetesValidados" jdbcType="INTEGER" property="chequeTotalAmount" />
    <result column="totalManual" jdbcType="INTEGER" property="manualTotalAmount" />
    <result column="billetesManual" jdbcType="INTEGER" property="chequeNumber" />
    <result column="totalDocumentosExternos" jdbcType="DOUBLE" property="totalDocumentos" />
    <result column="totalSobre" jdbcType="DOUBLE" property="totalSobre" />
    <result column="claveSobre" jdbcType="VARCHAR" property="claveSobre" />
    <result column="divisa" jdbcType="VARCHAR" property="currencyType" />
    <result column="denominacion1" jdbcType="INTEGER" property="hardDenomination1" />
    <result column="denominacion2" jdbcType="INTEGER" property="hardDenomination2" />
    <result column="denominacion3" jdbcType="INTEGER" property="hardDenomination3" />
    <result column="denominacion4" jdbcType="INTEGER" property="hardDenomination4" />
    <result column="denominacion5" jdbcType="INTEGER" property="hardDenomination5" />
    <result column="denominacion6" jdbcType="INTEGER" property="hardDenomination6" />
    <result column="denominacion7" jdbcType="INTEGER" property="hardDenomination7" />
    <result column="denominacion8" jdbcType="INTEGER" property="hardDenomination8" />
    <result column="denominacion1Manual" jdbcType="INTEGER" property="manualDenomination11" />
    <result column="denominacion2Manual" jdbcType="INTEGER" property="manualDenomination12" />
    <result column="denominacion3Manual" jdbcType="INTEGER" property="manualDenomination13" />
    <result column="denominacion4Manual" jdbcType="INTEGER" property="manualDenomination14" />
    <result column="denominacion5Manual" jdbcType="INTEGER" property="manualDenomination15" />
    <result column="denominacion6Manual" jdbcType="INTEGER" property="manualDenomination16" />
    <result column="denominacion7Manual" jdbcType="INTEGER" property="manualDenomination17" />
    <result column="denominacion8Manual" jdbcType="INTEGER" property="manualDenomination18" />
    <result column="estatusTransaccion" jdbcType="INTEGER" property="transactionStatus" />
    <result column="impreso" jdbcType="INTEGER" property="impreso" />
    <result column="Estatus" jdbcType="NCHAR" property="status" />
    <result column="Balanza" jdbcType="NVARCHAR" property="balanza" />
    <result column="Fecha_Cont" jdbcType="NVARCHAR" property="fechaCont" />
    <result column="denominacionM1" jdbcType="INTEGER" property="paperDenomination1" />
    <result column="denominacionM2" jdbcType="INTEGER" property="paperDenomination2" />
    <result column="denominacionM3" jdbcType="INTEGER" property="paperDenomination3" />
    <result column="denominacionM4" jdbcType="INTEGER" property="paperDenomination4" />
    <result column="denominacionM5" jdbcType="INTEGER" property="paperDenomination5" />
    <result column="denominacionM6" jdbcType="INTEGER" property="paperDenomination6" />
    <result column="denominacionM7" jdbcType="INTEGER" property="paperDenomination7" />
    <result column="cliente" jdbcType="INTEGER" property="clientInternalId" />
    <result column="sucursal" jdbcType="INTEGER" property="branchInternalId" />
  </resultMap>
</mapper>