<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comodin.fleet.core.mapper.XmlRecordSioToComodinBeanMapper">
  <resultMap id="BaseResultMap" type="com.comodin.fleet.core.bean.XmlRecordSioToComodinBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="xml_id" jdbcType="BIGINT" property="id" />
    <result column="xml_file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="xml_file_origin_name" jdbcType="VARCHAR" property="fileOriginName" />
    <result column="xml_file_full_path_name" jdbcType="VARCHAR" property="fileFullPathName" />
    <result column="xml_route_company_internal_id" jdbcType="VARCHAR" property="routeCompanyInternalId" />
    <result column="xml_route_branch_internal_id" jdbcType="VARCHAR" property="routeBranchInternalId" />
    <result column="xml_route_service_date" jdbcType="CHAR" property="routeServiceDate" />
    <result column="xml_route_id" jdbcType="VARCHAR" property="routeId" />
    <result column="xml_result_status" jdbcType="VARCHAR" property="resultStatus" />
    <result column="xml_result_message" jdbcType="VARCHAR" property="resultMessage" />
    <result column="xml_create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
    <result column="xml_create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="xml_delete_flag" jdbcType="CHAR" property="deleteFlag" />
    <result column="xml_result_original" jdbcType="LONGVARCHAR" property="resultOriginal" />
  </resultMap>
</mapper>