<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:property-placeholder location="classpath:jdbc-mysql.properties,classpath:jdbc-pool-druid.properties"/>

    <bean id="parentDataSource" class="com.alibaba.druid.pool.DruidDataSource" abstract="true" init-method="init" destroy-method="close">
        <property name="filters" value="${jdbc.pool.druid.filters}"/>
        <!-- 配置：最大、初始化、最小空闲、最大空闲、获取连接最大等待时间-->
        <!--#连接池最大使用连接数-->
        <property name="maxActive" value="${jdbc.pool.druid.maxActive}"/>
        <!--#初始化连接大小-->
        <property name="initialSize" value="${jdbc.pool.druid.initialSize}"/>
        <!--#连接池最小空闲-->
        <property name="minIdle" value="${jdbc.pool.druid.minIdle}"/>
        <!--#获取连接最大等待时间-->
        <property name="maxWait" value="${jdbc.pool.druid.maxWait}"/>
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.pool.druid.timeBetweenEvictionRunsMillis}"/>
        <property name="minEvictableIdleTimeMillis" value="${jdbc.pool.druid.minEvictableIdleTimeMillis}"/>
        <property name="validationQuery" value="${jdbc.pool.druid.validationQuery}"/>
        <property name="testWhileIdle" value="${jdbc.pool.druid.testWhileIdle}"/>
        <property name="testOnBorrow" value="${jdbc.pool.druid.testOnBorrow}"/>
        <property name="testOnReturn" value="${jdbc.pool.druid.testOnReturn}"/>
    </bean>

    <bean id="dataSourceMaster" parent="parentDataSource">
        <property name="driverClassName" value="${master.jdbc.driverClass}"/>
        <property name="url" value="${master.jdbc.url}"/>
        <property name="username" value="${master.jdbc.username}"/>
        <property name="password" value="${master.jdbc.password}"/>
    </bean>

    <bean id="dataSourceSlave1" parent="parentDataSource">
        <property name="driverClassName" value="${slave1.jdbc.driverClass}"/>
        <property name="url" value="${slave1.jdbc.url}"/>
        <property name="username" value="${slave1.jdbc.username}"/>
        <property name="password" value="${slave1.jdbc.password}"/>
    </bean>

    <bean id="dataSourceSlave2" parent="parentDataSource">
        <property name="driverClassName" value="${slave2.jdbc.driverClass}"/>
        <property name="url" value="${slave2.jdbc.url}"/>
        <property name="username" value="${slave2.jdbc.username}"/>
        <property name="password" value="${slave2.jdbc.password}"/>
    </bean>

    <bean id="dataSourceSlave3" parent="parentDataSource">
        <property name="driverClassName" value="${slave3.jdbc.driverClass}"/>
        <property name="url" value="${slave3.jdbc.url}"/>
        <property name="username" value="${slave3.jdbc.username}"/>
        <property name="password" value="${slave3.jdbc.password}"/>
    </bean>

    <bean id="dataSourceSlave4" parent="parentDataSource">
        <property name="driverClassName" value="${slave4.jdbc.driverClass}"/>
        <property name="url" value="${slave4.jdbc.url}"/>
        <property name="username" value="${slave4.jdbc.username}"/>
        <property name="password" value="${slave4.jdbc.password}"/>
    </bean>

    <bean id="dataSourceSlave5" parent="parentDataSource">
        <property name="driverClassName" value="${slave5.jdbc.driverClass}"/>
        <property name="url" value="${slave5.jdbc.url}"/>
        <property name="username" value="${slave5.jdbc.username}"/>
        <property name="password" value="${slave5.jdbc.password}"/>
    </bean>

    <!--&lt;!&ndash; 动态数据源 &ndash;&gt;-->
    <!--<bean id="dataSource" class="com.comodin.basic.util.db.DynamicDataSource">-->
    <!--&lt;!&ndash; 通过key-value关联数据源 &ndash;&gt;-->
    <!--<property name="targetDataSources">-->
    <!--<map key-type="com.comodin.basic.util.db.DynamicDataSourceType">-->
    <!--<entry key="DATA_SOURCE_MASTER" value-ref="dataSourceMaster"/>-->
    <!--<entry key="DATA_SOURCE_SLAVE1" value-ref="dataSourceSlave1"/>-->
    <!--<entry key="DATA_SOURCE_SLAVE2" value-ref="dataSourceSlave2"/>-->
    <!--<entry key="DATA_SOURCE_SLAVE3" value-ref="dataSourceSlave3"/>-->
    <!--<entry key="DATA_SOURCE_SLAVE4" value-ref="dataSourceSlave4"/>-->
    <!--<entry key="DATA_SOURCE_SLAVE5" value-ref="dataSourceSlave5"/>-->
    <!--</map>-->
    <!--</property>-->
    <!--<property name="defaultTargetDataSource" ref="dataSourceMaster"/>-->
    <!--</bean>-->

    <bean id="dataSource" parent="parentDataSource">
        <property name="driverClassName" value="${master.jdbc.driverClass}"/>
        <property name="url" value="${master.jdbc.url}"/>
        <property name="username" value="${master.jdbc.username}"/>
        <property name="password" value="${master.jdbc.password}"/>
    </bean>
</beans>