server:
  port: 1000
spring:
  jpa:
    generate-ddl: false
    show-sql: true
    hibernate:
      ddl-auto: none
  datasource:
    platform: h2
    #可以不配置，默认会读取 classpath 路径下，名字为 schema.sql data.sql
    schema: classpath:schema.sql
    data: classpath:data.sql
logging:
  level:
    root: info
    org.hibernate: info
    org.hibernate.type.descriptor.sql.BasicBinder: error
    org.hibernate.type.descriptor.sql.BasicExtractor: error
    cn.assupg.study: debug
